= f.fields_for(:order_books, order_book) do |item_book|
  %tr
    %td
      = image_tag(order_book.book.image.thumb, class: 'img-responsive')
    %td
      = link_to(order_book.book_title, book_path(order_book.book_id))
    %td
      = number_to_currency(order_book.price)
    %td
      = item_book.number_field :quantity, min: 1, class: 'form-control'
    %td
      = number_to_currency(order_book.subtotal)
      = link_to order_book_path(order_book), method: :delete, class: 'delete' do
        %span.glyphicon.glyphicon-trash