.table-responsive
  %table.table.cart
    %thead
      %tr
        %th.text-center{:colspan => "2"} Book
        %th= t('order.price')
        %th= t('order.quantity')
        %th= t('order.total')
    %tbody
      - order.order_books.each do |order_book|
        %tr
          %td
            = order_book
            // .book_cover
          %td
            = link_to(order_book.book_title, book_path(order_book.book))
          %td
            = number_to_currency(order_book.price)
          %td
            = order_book.quantity
          %td
            = number_to_currency(order_book.subtotal)

    %tfoot
      %tr
        %td{colspan: "4", align: "left"}
          = link_to('GO TO CART', cart_path, class: 'btn btn-success')
        %td{colspan: "4", align: "right"}
          %b= t('order.order_total')
        %td= number_to_currency(order.total)

    // %tfoot
    //   %tr
    //     %td{colspan: "4", align: "right"}
    //       %b= t('order.subtotal')
    //     %td= number_to_currency(order.subtotal)
    // - if order.coupon
    //   %tfoot
    //     %tr
    //       %td{colspan: "4", align: "right"}
    //         %b= t('order.discount')
    //       %td= number_to_currency(order.coupon_discount)

    // %tfoot
    //   %tr
    //     %td{colspan: "4", align: "right"}
    //       %b= t('order.shipping')
    //     %td= number_to_currency(order.shipment_total)

