.col-sx-6
  = form_for :order, url: add_book_orders_path, class: 'form-inline cart_item_form' do |f|
    .form-group
      = hidden_field_tag :book_id, book.id
      = f.label :quantity, t('cart.quantity')
      = f.number_field :quantity, value: 1, min: 1, class: 'form-control'
    = f.submit('ADD TO CART', class:"btn btn-primary")
