= provide(:title, @book.title)

.thumbnail.clearfix
  = image_tag(@book.image, class: 'img-responsive preview')
  .caption-full
    %h1= @book.title
    %p= @book.description
    %p
      %span.price Price:
      = number_to_currency(@book.price)
      = render('add_book', book: @book)
.well
  .text-right
    = link_to('Leave a Review', new_book_review_path(@book), class: 'btn btn-success')
//   %hr/
//   - @book.reviews.each do |review|
//     .row
//       .col-md-12
//         = render_star(review.rating)
//         %span.pull-right= time_tag(review.created_at.to_date)
//         %p by #{review.user.username}
//         %p= review.body
//     %hr/