= form_for([@book, @review]) do |f|
  = error_messages_for(@review)

  .form-group
    = f.label :rating
    = f.select :rating, [5,4,3,2,1], class: 'rating rating-loading' 

  .form-group
    = f.label :text_review, 'Text review'
    = f.text_area :text_review, rows: 10, class: 'form-control'

  = f.submit 'Add', class: 'btn btn-primary'
  or
  = link_to(t('review.cancel'), @book)
