%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "The Bookstore", root_path, id: "logo"
    %ul.nav.navbar-nav.navbar-left
      %li= link_to "HOME", root_path
      %li= link_to "SHOP", books_path
    %ul.nav.navbar-nav.navbar-center
      = render('shared/cart')
    - if user_signed_in?
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Settings", "#"
        %li= link_to "Orders",  orders_path
        %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
    - else 
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Sign in", new_user_session_path 
        %li= link_to "Sign up", new_user_registration_path
      